@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import 'variables';
@import 'mixin';
@import 'modules';
@import 'media-screen';


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    font-family: "Raleway", sans-serif;
    padding: 0;

    h1, h2, h3, h4, h5, h6 {  
        
        .green {
            font-size: 1.5rem;
            color: $secondColor;
        }
    }
    
    header {
        padding: 0 !important;
        .navbar {
            // background-color: red;
            margin: 0;
            height: 100px;
            box-shadow: 0 4px 40px 3px rgba(0, 0, 0, 0.253);

            .container {
                display: flex;
                justify-content: space-between;

                .navbar-container {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .navbar-social {
                        display: flex;
                        flex-direction: row;
                        gap: 1rem;

                        &_link {
                            color: $fontColor;
                            opacity: .3;
                            transition: opacity .3s;

                            &:hover {
                                opacity: .6;
                            }

                            i{
                                font-size: 1.5rem;
                                
                            }
                        }
                    }
                    .navbar-collapse {
                        justify-content: flex-end;
                        .navbar-nav {
                            .nav-item {
                                .nav-link {
                                    color: $fontColor;
                                    text-transform: uppercase;
                                    font-size: 1.5rem;
                                    transition: transform .3s;

                                    &:hover {
                                        transform: translatey(-3px);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .header-container {
            // height: 860px;
            position: relative;
            padding: 0;
            margin: 0;
            

            .header-img_wrapper {
                background-color: rgba(0, 0, 0, 0.3);
                height: 100%;
                width: 100%;
                color: $mainColor;
                @include flex-col;
                padding: 16rem 0;
                

                &__box {
                    @include flex-col;
                    gap: 2rem;

                    h1 {
                        font-size: 100px;
                        text-align: center;
                    }

                    p {
                        text-align: center;
                        font-size: 1.5rem;
                        width: 70%;
                    }

                    .btn {
                        @include customBtn;
                    }
                }
            }
        }

    }

    section {
        padding: 4rem 0;

        h2 {
            font-size: 1.5rem;
            text-transform: uppercase;
            margin: 1rem 0 3rem 0;
            
            .green {
                font-size: 1.5rem;
                color: $secondColor;
            }
        }
    }

    .section-one {
        .section-one_container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .section-one_wrapper {
                width: 30%;

                a {
                    text-decoration: none;
                    img {
                        width: 100%;
                    }
    
                    h3 {
                        text-align: justify;
                        margin-top: .5rem;
                        text-decoration: none;
                        color: $fontColor;
                        
                    }
    
                    p {
                        font-size: .75rem;
                        margin-top: 1rem;
                        text-decoration: none;
                        color: $fontColor;
                        font-family: 'Lato', sans-serif;
                        font-weight: 300;
                    }
                }

            }
        }
    }

    .section-two {
        display: grid;
        grid-template-columns: 9fr .1fr 3.85fr;

        .section-two_left {
            .section-two_left_container {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                .section-two_left_wrapper {
                    a {
                        text-decoration: none;
                        color: $fontColor;
                        .section-two_left_wrapper__box {
                            display: grid;
                            grid-template-columns: 1fr 4fr;
                            gap: 1rem;

                            img {

                            }

                            .section-two_left_wrapper__box_content {

                                .date {
                                    font-size: .75rem;
                                    font-family: 'Lato', sans-serif;
                                    font-weight: 300;
                                }

                                h3 {

                                }

                                .line {
                                    display: block;
                                    width: 20%;
                                    height: 3px;
                                    background-color: $secondColor;

                                }

                                p {

                                }
                            }
                        }
                    }
                }
            }
        }

        .horizontal-spacer {
            display: block;
            width: 1px;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.20);
        }

        .section-two_right {
            .section-two_right__rated {
                a {
                    text-decoration: none;
                    color: $fontColor;
                    font-family: 'Lato', sans-serif;

                    .section-two_right__rated_wrapper {
                        display: grid;
                        grid-template-columns: 1fr 10fr;
                        gap: .75rem;


                        .number {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 35px;
                            aspect-ratio: 1 / 1;
                            border-radius: 100%;
                            background-color: $secondColor;
                            line-height: 1rem;
                        }

                        .section-two_right__rated_wrapper_content {
                            h3 {
                                font-size: 1.1rem;
                                font-weight: 700;
                                font-family: 'Raleway', sans-serif;
                            }

                            .views {
                                font-size: .7rem;
                                font-family: 'Lato', sans-serif;
                            }
                        }
                    }
                }
            }

            .section-two_right__socials {
                margin-top: 2rem;
                .social-title {
                    display: block;
                    width: 100%;
                    background-color: $secondColor;
                    font-size: 1rem;
                    font-weight: 700;
                    padding: .25rem 1rem;
                    text-transform: uppercase;
                }

                .section-two_right__socials_wrapper {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: .75rem;
                    a {
                        text-decoration: none;

                        .section-two_right__socials_box {
                            display: grid;
                            grid-template-columns: 1fr 10fr;
                            align-items: center;
                            
                            color: $mainColor;
    
                            i {
                                display: block;
                                background-color: rgba(0, 0, 0, 0.26);
                                font-size: 2rem;
                                padding: .4rem;
                            }
    
                            p {
                                height: 100%;
                                margin: 0;
                                display: flex;
                                align-items: center;
                                margin-left: .75rem;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }

            .section-two_right__neewsletter {
                display: flex;
                flex-direction: column;
                padding: 4rem;
                border: 1px solid rgba(0, 0, 0, 0.3);
                margin-top: 2rem;
                text-align: center;

                h4 {
                    text-transform: uppercase;
                    font-size: 2rem;
                    span {
                        font-size: inherit;
                    }
                }

                p {
                    font-size: .8rem;
                }

                input {
                    padding: .75rem 1rem;
                }

                button {
                    @include customBtn;
                    margin-top: 1rem;
                    padding: .2rem;
                    font-size: 1.2rem;
                }
            }
        }
    }

    .gallery {
        background-color: $secondColor;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        gap: 1rem;
        padding: 1rem;


        &_photo {
            width: 100%;
            aspect-ratio: 1/1;
            display: block;
            background-color: #fff;
            overflow: hidden;


            a {
                
                img {
                    object-fit: cover;
                    height: 100%;
                    width: auto;
                    transition: all .3s ease-in-out;
                    transform: scale(1.01);
                }

                &:hover {
                    img {
                        transform: scale(1.13) rotate(-5deg);
                    }
                }
            }

            // &::before {
            //     content: "";
            //     padding-bottom: 100%;
            //     display: block;
            // }
        }
    }

    .comments {
        .owl-carousel {
            .owl-stage-outer {
                .owl-stage {
                    .owl-item {
                        .item {
                            .comments-wrapper {
                                .comments-wrapper_head {
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: space-between;
                                    align-items: center;
                                    margin-bottom: -25px;
                                    padding: 0 2rem 0 3rem;

                                    h3 {
                                        text-transform: uppercase;
                                        font-weight: 700;
                                    }
                                    img {
                                        max-width: 100px;
                                        height: auto;
                                        box-shadow: 3px 3px 0px $secondColor;
                                    }
                                }

                                .comments-wrapper_content {
                                    padding: 35px;
                                    background-color: rgba($secondColor, .3);

                                    p {
                                        text-align: justify;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .owl-nav {
                text-align: end;
                padding: 0;

                button {
                    margin: 0;
                    margin-left: .75rem;
                    span {
                        padding: .5rem 1rem;
                        background-color: $secondColor;
                        font-size: 2rem;
                    }
                }
            }
        }
    }
    
    .accordion {
        padding: 0;
        margin: 0;
        .accordion-item {
            border: none;
            overflow: hidden;
            border-radius: 0;
            
            
            .accordion-item_header {
                display: grid;
                grid-template-columns: 1fr 1fr;
                padding: 0 0 0 25rem;
                border-bottom: 1px solid rgba($fontColor, .2);

                h3 {
                    padding: 0;
                    margin: 0;
                    font-size: 1.5rem;
                    line-height: 3.5rem;
                }

                button {
                    text-align: start;
                    padding: .5rem 1rem;
                    border: none;
                    background-color: lighten($secondColor, 0);
                    transition: all .3s ease-in-out;
                    border-radius: 0;
                    position: relative;

                    &::after {
                        content: '\2b';
                        display: block;
                        font-size: 2rem;
                        line-height: 2rem;
                        transition: transform .3s ease-in;
                        position: absolute;
                        top: 20%;
                        left: 1.5rem;

                    }
                    &.open::after {
                        font-family: "Font Awesome 5 Free" !important;
                        content: '\f00d' !important;
                        font-weight: 900;
                        position: absolute;
                        // display: block;
                        font-size: 1rem;
                        line-height: 2rem;
                        transform: rotate(270deg);
                    }
                    
                    &:hover,
                    &.open {
                        width: 110%;
                        margin-left: -10%;
                        background-color: darken($secondColor, 10);

                    }
                }

            }
            .accordion-item_content {
                padding: 0 1rem;
                text-align: justify;
                // display: none;
                max-height: 0;
                overflow: hidden;
                transition: max-height .5s ease-in-out;

                p {
                    padding: 2rem 0;
                }
                
                &.open {
                    // display: block;
                    max-height: 100%;

                }
            }

            
        }
    }
    
}